<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin_main}">
<head>
    <meta charset="UTF-8">
    <title>ba-f : 관리자 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}">
</head>
<body>
<div layout:fragment="content" class="container my-3 admin-main">
    <h5 class="my-3 border-bottom pb-2" th:text="${announcement.subject}">리뷰 내용</h5>
    <div class="review-content-area mt-0 mb-4">
<!--        <a href="javascript:void(0);" th:data-uri="@{|/management/announce/delete/${question.id}|}"-->
<!--           class="delete btn btn-light float-end" style="color:#7F7F7F" sec:authorize="isAuthenticated()"-->
<!--           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"-->
<!--           th:text="삭제"></a>-->
        <div class="ms-5">
            <p class="fw-bolder mb-0 content-nickname" th:text="관리자"></p>
            <time class="fw-normal content-time" th:text="${#temporals.format(announcement.createDate, 'yyyy-MM-dd HH:mm')}"></time>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line; margin-bottom: 5%" th:text="${announcement.content}"></div>
    </div>
</div>

</body>
</html>