<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin_nav_layout}">
<head>
    <meta charset="UTF-8">
    <title>ba-f : 관리자 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}">
</head>
<body>
<div layout:fragment="content" class="container my-3 admin-main">
    <h5 class="my-3 border-bottom pb-2" th:if="${getAuth == 0}">가입 대기 회원</h5>
    <h5 class="my-3 border-bottom pb-2" th:if="${getAuth == 1}">회원 관리</h5>

    <div class="float-end" style="width: 30%">
        <form th:action="@{|/management/account/${getAuth}|}" method="get" id="searchForm">
            <div class="input-group mb-3 me-sm-3">
                <input type="text" th:value="${keyword}" name="keyword" id="review-search-input" class="form-control"
                       placeholder="사용자 ID 검색" aria-label="review search" aria-describedby="button-addon2">
                <input type="hidden" id="page" name="page" th:value="${userPage.number}">
                <button class="btn btn-outline-orange" type="button" id="review-button-search">검색</button>
            </div>
        </form>
    </div>

    <table class="table table-align-center">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>사용자 ID</th>
            <th>E-mail</th>
            <th>장애 유형</th>
            <th>휠체어 탑승 여부</th>
            <th>가입 승인</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userInfo, loop : ${userPage}">
            <td th:text="${userPage.getTotalElements - (userPage.number * userPage.size) - loop.index}"></td>
            <td th:text="${userInfo.username}"></td>
            <td th:text="${userInfo.email}"></td>
            <td th:if="${userInfo.type eq 0}">선택 안 함</td>
            <td th:if="${userInfo.type eq 1}">지체 장애</td>
            <td th:if="${userInfo.type eq 2}">뇌병변</td>
            <td th:if="${userInfo.type eq 3}">시각 장애</td>
            <td th:if="${userInfo.type eq 4}">청각 장애</td>
            <td th:if="${userInfo.type eq 5}">언어 장애</td>
            <td th:if="${userInfo.type eq 6}">정신 장애</td>
            <td th:if="${userInfo.type eq 7}">발달 장애</td>
            <td th:if="${userInfo.type eq 8}">정신 장애</td>
            <td th:if="${userInfo.type eq 9}">신장 장애</td>
            <td th:if="${userInfo.type eq 10}">심장 장애</td>
            <td th:if="${userInfo.type eq 11}">호흡기 장애</td>
            <td th:if="${userInfo.type eq 12}">간장애</td>
            <td th:if="${userInfo.type eq 13}">안면장애</td>
            <td th:if="${userInfo.type eq 14}">장루,요루장애</td>
            <td th:if="${userInfo.type eq 15}">간질장애</td>
            <td th:if="${userInfo.getWheel eq 0}">선택 안 함</td>
            <td th:if="${userInfo.getWheel eq 1}">탑승</td>
            <td th:if="${userInfo.getWheel eq 2}">미탑승</td>
            <td th:if="${getAuth == 0}">
                <a href="javascript:void(0);" th:data-uri="@{|/management/account/${getAuth}/accept/${userInfo.id}|}"
                   class="accept btn btn-primary">승인</a>
                <a href="javascript:void(0);" th:data-uri="@{|/management/account/${getAuth}/delete/${userInfo.id}|}"
                   class="delete btn btn-secondary">거절</a>
            </td>
            <td th:if="${getAuth == 1}">
                <a href="javascript:void(0);" th:data-uri="@{|/management/account/${getAuth}/standBy/${userInfo.id}|}"
                   class="standBy btn btn-secondary">대기 전환</a>
                <a href="javascript:void(0);" th:data-uri="@{|/management/account/${getAuth}/delete/${userInfo.id}|}"
                   class="delete btn btn-danger">강제 탈퇴</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!userPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!userPage.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${userPage.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, userPage.totalPages-1)}"
                th:if="${page >= userPage.number-5 and page <= userPage.number+5}"
                th:classappend="${page == userPage.number} ? 'active'" class="page-item">
                <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!userPage.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${userPage.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("review-button-search");
    btn_search.addEventListener('click', function () {
        document.getElementById('page').value = 0;
        document.getElementById('searchForm').submit();
    });

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 강제 탈퇴하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });

    const accept_elements = document.getElementsByClassName("accept");
    Array.from(accept_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("가입을 승인하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });

    const standBy_elements = document.getElementsByClassName("standBy");
    Array.from(standBy_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("가입 대기로 전환하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });

</script>
</body>
</html>