<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 방문 리뷰 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/review">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="restaurant" href="/review/restaurant">음식점</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/cafe">카페</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/perform">공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/etc">기타</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="review-main-container mt-5">
        <!--        검색창 및 글쓰기 버튼 생성-->
        <div class="review-header-content">
            <div id="review-search-input-group">
                <form th:action="@{|/review/${category}|}" method="get" id="searchForm">
                    <div class="input-group mb-3 me-sm-3">
                        <input type="text" th:value="${keyword}" name="kw" id="review-search-input" class="form-control" placeholder="궁금한 장소 혹은 공연 등을 검색해주세요" aria-label="review search" aria-describedby="button-addon2">
                        <input type="hidden" id="page" name="page" th:value="${reviewPage.number}">
                        <button class="btn btn-outline-orange" type="button" id="review-button-search">검색</button>
                    </div>
                </form>
            </div>

            <a th:href="@{|/review/create|}">
                <button id="review-btn-write" type="button" class="btn btn-primary">리뷰 작성</button>
            </a>
        </div>
    </div>

    <div class="hstack gap-3" style="clear: left">
        <div class="ms-auto">목록형</div>
        <div class="vr"></div>
        <div class="">카드형</div>
    </div>

    <div class="card my-3" th:each="review : ${reviewPage}" style="clear:right">
        <a th:href="@{|/review/content/${review.id}|}" style="text-decoration:none; color:inherit">
            <div class="image-box float-start me-3">
                <img class="image-thumbnail" src="/static/image/test_image.jpeg">
            </div>
            <div class="card-body">
                <div class="review-content-area mt-0 mb-3">
                    <img class="img-profile-content float-start me-1" src="/static/image/anonymous_profile.png" style="width: 30px; height: 30px;">
                    <div style="height: 30px;line-height:30px;">
                        <span class="fw-bolder mb-0 content-nickname ms-1 me-2" th:if="${review.isAnonymous == true}" th:text="익명"></span>
                        <span class="fw-bolder mb-0 content-nickname ms-1 me-2" th:unless="${review.isAnonymous == true}" th:text="${review.author.getUsername()}"></span>
                        <span class="fw-normal content-time" th:text="${#temporals.format(review.createDate, 'yy/MM/dd HH:mm')}"></span>
                    </div>
                </div>
                <div class="card-text">
                    <div>
                        <span class="strong" th:text="'[' + ${review.genre} + '] ' + ${review.subject}"></span>
                        <span class="review-content-place" th:text="'(' + ${review.place} + ')'"></span>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <span class="float-start me-2">평점 : </span>
                            </td>
                            <td>
                                <span class="star float-start">
                                    <span class="star-on" th:style="'width: ' + ${review.grade} * 20 + '%'">
                                        <span class="blind" th:text="'평점' + ${review.grade}"></span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="ms-1">
                                    <span th:if="${#strings.contains(review.amenities,'0')}" class="amenities-img float-start me-2">
                                        <img id="img_amenities_elevator_select" src="/static/image/amenities_elevator_select.png" height="30" width="30" />
                                    </span>
                                    <span th:if="${#strings.contains(review.amenities,'1')}" class="amenities-img float-start me-2">
                                        <img id="img_amenities_incline_select" src="/static/image/amenities_incline_select.png" height="30" width="30" />
                                    </span>
                                    <span th:if="${#strings.contains(review.amenities,'2')}" class="amenities-img float-start me-2">
                                        <img id="img_amenities_parking_select" src="/static/image/amenities_parking_select.png" height="30" width="30" />
                                    </span>
                                    <span th:if="${#strings.contains(review.amenities,'3')}" class="amenities-img float-start me-2">
                                        <img id="img_amenities_table_select" src="/static/image/amenities_table_select.png" height="30" width="30" />
                                    </span>
                                    <span th:if="${#strings.contains(review.amenities,'4')}" class="amenities-img float-start me-2">
                                        <img id="img_amenities_rest-room_select" src="/static/image/amenities_rest-room_select.png" height="30" width="30" />
                                    </span>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mb-4">
                    <ul class="content-info">
                        <li class="recommend" th:text="${#lists.size(review.voter)}"></li>
                        <li class="comment" th:text="${#lists.size(review.reviewCommentsList)}"></li>
                    </ul>
                </div>
            </div>
        </a>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!reviewPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!reviewPage.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${reviewPage.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, reviewPage.totalPages-1)}"
                th:if="${page >= reviewPage.number-5 and page <= reviewPage.number+5}"
                th:classappend="${page == reviewPage.number} ? 'active'" class="page-item">
                <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!reviewPage.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${reviewPage.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("review-button-search");
    btn_search.addEventListener('click', function() {
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });

    // 나중에 수정해야 됨
    const categoryStr = "${category}";
    const category = document.getElementById(categoryStr);
    console.log("category : ", category);
    console.log("category str : ", categoryStr);
    category.class="nav-item-select";

</script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>
</html>