<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 방문 리뷰 내용</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <script type="text/javascript">
        function ratingToPercent(grade) {
            const score = grade * 20;
            return score;
        }

    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link-select" href="#">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">음식점</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">카페</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">기타</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">리뷰 내용</h5>
    <div class="review-content-area mt-0 mb-4">
        <img class="img-profile-content float-start me-3" src="/static/image/anonymous_profile.png">
        <div class="ms-5">
            <p class="fw-bolder mb-0 content-nickname">익명1</p>
            <time class="fw-normal content-time">22/08/01 01:33</time>
        </div>
    </div>
    <table class="review-content-table">
        <tbody>
        <tr>
            <th scope="row">장르</th>
            <td th:text="${review.genre}"></td>
        </tr>
        <tr>
            <th scope="row">리뷰명</th>
            <td  th:text="${review.subject}">
                <span class="badge rounded-pill bg-secondary btn-additional-review"> > 동일 주제 리뷰 </span>
            </td>
        </tr>
        <tr>
            <th scope="row">일자</th>
            <td th:text="${review.date}"></td>
        </tr>
        <tr>
            <th scope="row">장소</th>
            <td th:text="${review.place}">
                <span class="badge rounded-pill bg-secondary btn-additional-review"> > 동일 장소 리뷰 </span>
            </td>
                <!--            추후 지도 추가할 것-->
        </tr>
        <tr>
            <th scope="row">평점</th>
            <td>
                <div class="star-ratings-base space-x-2 text-lg">
                    <div class="star-ratings-fill space-x-2 text-lg" th:width="${review.grade} * 20 + '%'">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="review-content-area">
        <label class="review-content-label mb-3">편의 시설</label>
        <div class="row ms-1">
            <div class="card btn-outline-amenities me-1">
                <span class="amenities-img">
                    <img id="img_amenities_elevator" src="/static/image/amenities_elevator.png" height ="50" width="50" />
                </span>
                <div class="review-card-body">
                    <span>승강기</span>
                </div>
            </div>
            <div class="card btn-outline-amenities me-1">
                <span class="amenities-img">
                    <img id="img_amenities_incline" src="/static/image/amenities_incline.png" height ="50" width="50" />
                </span>
                <div class="review-card-body">
                    <span>경사로</span>
                </div>
            </div>
            <div class="card btn-outline-amenities me-1">
                <span class="amenities-img">
                    <img id="img_amenities_parking" src="/static/image/amenities_parking.png" height ="50" width="50" />
                </span>
                <div class="review-card-body">
                    <span>주차장</span>
                </div>
            </div>
            <div class="card btn-outline-amenities me-1">
                <span class="amenities-img">
                    <img id="img_amenities_table" src="/static/image/amenities_table.png" height ="50" width="50" />
                </span>
                <div class="review-card-body">
                    <span>테이블석</span>
                </div>
            </div>
            <div class="card btn-outline-amenities me-1">
                <span class="amenities-img">
                    <img id="img_amenities_rest-room" src="/static/image/amenities_rest-room.png" height ="50" width="50" />
                </span>
                <div class="review-card-body">
                    <span>장애인 화장실</span>
                </div>
            </div>
        </div>
    </div>
    <div class="review-content-area">
        <label class="review-content-label mb-3">장소 리뷰</label>
        <div class="card text-dark bg-light mb-4">
            <div class="card-body">
                <p class="card-text" th:text="${review.placeReview}"></p>
            </div>
        </div>
    </div>
    <div class="review-content-area">
        <label class="review-content-label mb-3">추가 리뷰</label>
        <div class="card text-dark bg-light mb-4">
            <div class="card-body">
                <p class="card-text" th:text="${review.additionalReview}"></p>
            </div>
        </div>
    </div>
    <div class="review-content-area" id="review-content-images">
<!--        추가 되어야 하는 이미지 형식-->
<!--        <div class="btn preview-img">-->
<!--            <img src="">-->
<!--        </div>-->
    </div>
    <div class="review-content-area">
        <div class="float-start">
            <button type="button" class="btn btn-light">
                <span class="recommend-disable ps-4" style="color:#7F7F7F">좋아요</span>
            </button>
        </div>
        <ul class="content-info">
            <li class="recommend">0</li>
            <li class="comment">0</li>
        </ul>
    </div>

    <!--    div 겹침 방지-->
    <div style="clear:both;"></div>
    <h5 class="my-3 border-top border-bottom pt-4 pb-2">댓글</h5>
    <div class="review-content-area mb-5">
        <div class="input-group mb-4">
            <input type="text" class="form-control border-end-0" placeholder="댓글을 남겨주세요." aria-label="Recipient's username with two button addons">
            <div class="input-group-text border-start-0" style="background-color: white">
                <input class="form-check-input mt-0" id="check-anonym" type="checkbox" value="" aria-label="Checkbox for following text input">
                <label class="form-check-label" id="check-anonym-text" for="check-anonym">익명</label>
            </div>
            <button class="btn btn-outline-orange" type="button">등록</button>
        </div>

        <div id="comments-list">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start comment-item">
                    <div class="ms-2 me-auto">
                        <div class="mb-2">
                            <img class="img-profile-comment" src="/static/image/anonymous_profile.png">
                            <span class="fw-bolder content-nickname">익명1</span>
                        </div>
                        어쩌구 저쩌구의 댓글입니다.
                        <div class="mt-2">
                            <time class="fw-normal me-3 content-time">22/08/01 01:33</time>
                            <span class="recommend ps-4 content-nickname">0</span>
                        </div>
                    </div>
                    <span class="child-comment">대댓글</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start comment-item">
                    <div class="ms-2 me-auto">
                        <div class="mb-2">
                            <img class="img-profile-comment" src="/static/image/anonymous_profile.png">
                            <span class="fw-bolder content-nickname">익명2</span>
                        </div>
                        어쩌구 저쩌구의 댓글입니다.
                        <div class="mt-2">
                            <time class="fw-normal me-3 content-time">22/08/01 01:33</time>
                            <span class="recommend ps-4 content-nickname">0</span>
                        </div>
                    </div>
                    <span class="child-comment">대댓글</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start comment-item">
                    <div class="ms-2 me-auto">
                        <div class="mb-2">
                            <img class="img-profile-comment" src="/static/image/anonymous_profile.png">
                            <span class="fw-bolder content-nickname">익명3</span>
                        </div>
                        어쩌구 저쩌구의 댓글입니다.
                        <div class="mt-2">
                            <time class="fw-normal me-3 content-time">22/08/01 01:33</time>
                            <span class="recommend ps-4 content-nickname">0</span>
                        </div>
                    </div>
                    <span class="child-comment">대댓글</span>
                </li>
            </ol>
        </div>
    </div>
</div>


</body>
</html>