<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 방문 리뷰</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>

<body>
<div  layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link-select" href="/review">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/restaurant">음식점</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/cafe">카페</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/perform">공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review/etc">기타</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="review-main-container mt-5">
        <div class="review-header-content">
            <div id="review-search-input-group">
                <form th:action="@{/review/all}" method="get" id="searchForm">
                    <div class="input-group mb-3 me-sm-3">
                        <input type="text" th:value="${keyword}" name="keyword" id="review-search-input" class="form-control" placeholder="궁금한 장소 혹은 공연 등을 검색해주세요" aria-label="review search" aria-describedby="button-addon2">
                        <input type="hidden" id="page" name="page" th:value="${reviewPage.number}">
                        <button class="btn btn-outline-orange" type="button" id="review-button-search">검색</button>
                    </div>
                </form>
            </div>

            <a th:href="@{/review/create}">
                <button id="review-btn-write" type="button" class="btn btn-primary float-end">리뷰 작성</button>
            </a>
        </div>
    </div>

    <div class="review-content-container" style="clear: both">
        <!--        실시간 인기 리뷰 상위 4개-->
        <div class="review-content">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h4>
                        <a class="review-title" href="#">
                            실시간 인기 리뷰
                            <span>더 보기</span>
                        </a>
                    </h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="review: ${reviewList}">
                        <a class="review-rate" href="#">
                            <span class="star">
                                <span class="star-on" th:style="'width: ' + ${review.grade} * 20 + '%'">
                                    <span class="blind" th:text="${review.grade}"></span>
                                </span>
                            </span>
                            <h4 th:text="'[' + ${review.genre} + '] ' + ${review.subject}"></h4>
                            <ul class="content-info">
                                <li class="recommend" th:text="${#lists.size(review.voter)}"></li>
                                <li class="comment" th:text="${#lists.size(review.reviewCommentsList)}"></li>
                            </ul>
                        </a>
                    </li>

<!--                        <li class="list-group-item">-->
<!--                            <a class="review-rate" href="#">-->
<!--                            <span class="star">-->
<!--                                <span class="star-on" style="width: 80%">-->
<!--                                    <span class="blind">평점 4점</span>-->
<!--                                </span>-->
<!--                            </span>-->
<!--                                <h4>[뮤지컬] 아이다</h4>-->
<!--                                <ul class="content-info">-->
<!--                                    <li class="recommend">5</li>-->
<!--                                    <li class="comment">3</li>-->
<!--                                </ul>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <a class="review-rate" href="#">-->
<!--                            <span class="star">-->
<!--                                <span class="star-on" style="width: 100%">-->
<!--                                    <span class="blind">평점 5점</span>-->
<!--                                </span>-->
<!--                            </span>-->
<!--                                <h4>[뮤지컬] 킹키부츠</h4>-->
<!--                                <ul class="content-info">-->
<!--                                    <li class="recommend">7</li>-->
<!--                                    <li class="comment">10</li>-->
<!--                                </ul>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <a class="review-rate" href="#">-->
<!--                            <span class="star">-->
<!--                                <span class="star-on" style="width: 20%">-->
<!--                                    <span class="blind">평점 1점</span>-->
<!--                                </span>-->
<!--                            </span>-->
<!--                                <h4>[음식점] B 한식집</h4>-->
<!--                                <ul class="content-info">-->
<!--                                    <li class="recommend">10</li>-->
<!--                                    <li class="comment">3</li>-->
<!--                                </ul>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

                </ul>
            </div>
        </div>

<!--        전체 리뷰 목록 최신순으로 -->
        <div class="review-content">
            <h4>
                <a class="review-title" href="#">
                    전체 리뷰
                    <span>더 보기</span>
                </a>
            </h4>

            <div class="container mb-4">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col" th:each="review : ${reviewPage}">
                        <a href="#">
                            <div class="card review-card">
                                <img src="/static/image/review_test_image/test_img_1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="'[' + ${review.genre} + '] ' + ${review.subject}"></h5>
                                    <div class="card-status">
                                        <p class="star-rating" th:text="${review.grade}"></p>
                                        <ul class="content-info">
                                            <li class="recommend" th:text="${#lists.size(review.voter)}"></li>
                                            <li class="comment" th:text="${#lists.size(review.reviewCommentsList)}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 페이징처리 시작 -->
        <div th:if="${!reviewPage.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!reviewPage.hasPrevious} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${reviewPage.number-1}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, reviewPage.totalPages-1)}"
                    th:if="${page >= reviewPage.number-5 and page <= reviewPage.number+5}"
                    th:classappend="${page == reviewPage.number} ? 'active'" class="page-item">
                    <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!reviewPage.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${reviewPage.number+1}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("review-button-search");
    btn_search.addEventListener('click', function() {
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</body>
</html>