<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ba-f : 리뷰 공연 검색</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}">
</head>
<body>
<div  layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">공연 정보 검색</h5>

    <div class="review-main-container mt-5">
        <!--        검색창 및 글쓰기 버튼 생성-->
        <div class="review-header-content">
            <form th:action="@{/review/create/search/perform}" method="get" id="searchForm">
                <select class="form-select float-start me-3" th:value="${genre}" name="genre" id="inputGenre" style="width: 17%">
                    <option value="0" th:selected="${genre} == '0'">전체</option>
                    <option value="1" th:selected="${genre} == '1'">뮤지컬</option>
                    <option value="2" th:selected="${genre} == '2'">연극</option>
                    <option value="3" th:selected="${genre} == '3'">클래식</option>
                    <option value="4" th:selected="${genre} == '4'">오페라</option>
                    <option value="5" th:selected="${genre} == '5'">무용</option>
                    <option value="6" th:selected="${genre} == '6'">국악</option>
                    <option value="7" th:selected="${genre} == '7'">기타</option>
                </select>

                <div id="review-search-input-group">
                    <div class="input-group mb-3 me-sm-3">
                        <input type="text" th:value="${keyword}" name="keyword" id="review-search-review-input" class="form-control" placeholder="공연을 검색해주세요" aria-label="review search" aria-describedby="button-addon2">
                        <button class="btn btn-outline-orange" type="submit" id="button-review-search">검색</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="container" style="clear: left">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col" th:each="performInfo : ${performInfoList}">
                <div class="card review-card">
                    <img th:src="${performInfo.posterUrl}" class="card-img-top" alt="..." height="400px">
                    <div class="card-body">
                        <h6 class="card-title" th:text="${performInfo.title}"></h6>
                        <div class="card-status">
                            <p class="perform-place" th:text="${performInfo.facility}"></p>
                            <p th:text="${performInfo.startDate + ' - ' + performInfo.endDate}"></p>
                        </div>
                        <button type="button" class="btn btn-secondary btn-sm float-end" id="btn-select-perform" th:attr="onclick=|selectPerform(this, '${performInfo.title}', '${performInfo.facility}')|">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8aa491fb8446dec868e2994549014ef&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function selectPerform(selectObject, performTitle, performFacility) {
            console.log("performTitle : ", performTitle);
            console.log("performFacility : ", performFacility);

            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();
            ps.keywordSearch(performFacility, placesSearchCB);

            let selectPerformInfo = {
                "title" : performTitle,
                "place" : performFacility
            };

            sessionStorage.setItem("selectPerformInfo", JSON.stringify(selectPerformInfo));
        }

        function placesSearchCB (data, status, pagination) {
            let address = "";

            if (data[0]) {
                if (data[0].road_address_name) {
                    address = data[0].road_address_name.toString();
                } else {
                    address = data[0].address_name.toString();
                }
            }


            let selectPerformInfo = JSON.parse(sessionStorage.getItem("selectPerformInfo"));

            let selectPerformData = {
                "title" : selectPerformInfo["title"],
                "place" : selectPerformInfo["place"],
                "address" : address
            };

            sessionStorage.removeItem("selectPerformInfo");
            sessionStorage.setItem("selectPerformData", JSON.stringify(selectPerformData));

            location.href = "/review/create";
        }
    </script>

</div>
</body>
</html>