<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 방문 리뷰 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link-select" href="#">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">음식점</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">카페</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">기타</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content" class="container">
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review, loop : ${reviewPage}">
            <td>
                <a th:href="@{|/review/content/${review.id}|}" th:text="${review.subject}"></a>
            </td>
            <td th:text="${review.createDate}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!reviewPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!reviewPage.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${reviewPage.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, reviewPage.totalPages-1)}"
                th:if="${page >= reviewPage.number-5 and page <= reviewPage.number+5}"
                th:classappend="${page == reviewPage.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!reviewPage.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${reviewPage.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>

</body>
</html>