<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 게시판 조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center" style="padding-bottom: 20px;">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/question/hotList}">HOT 게시물</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/question/weeklyHotList}">주간 인기글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/community/home}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-select" th:href="@{/board/board_list}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/eventInfo}">추천 정보</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div>
            <div class="review-main-container mt-5" style="padding-bottom: 5%">
                <div class="review-header-content">
                    <div id="review-search-input-group">
                        <form th:action="@{/board/board_list}" method="get" id="searchForm">
                            <div class="input-group mb-3 me-sm-3">
                                <input type="text" th:value="${keyword}" name="keyword" id="search-input"
                                       class="form-control"
                                       placeholder="게시판 제목을 검색해주세요" aria-label="review search"
                                       aria-describedby="button-addon2">
                                <input type="hidden" id="page" name="page" th:value="${paging.number}">
                                <button class="btn btn-outline-orange" type="button" id="button-search">검색</button>
                            </div>
                        </form>
                    </div>
                    <a th:href="@{/board/create}" class="btn btn-primary" style="float:right;">게시판 등록하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <h5>게시판</h5>
        <div class="card my-3" th:each="board : ${paging}">
            <div class="card-body">
                <a style="text-decoration:none; color:inherit" th:href="@{|/board/question_list/${board.id}|}">
                    <div class="card-text" style="white-space: pre-line;margin-bottom: 1.5%">
                        <h6 style="margin-top: -1.2%;margin-bottom: -1.5%; " th:text="${board.boardName}"></h6>
                        <span style="font-size: 12px" th:text="${board.boardIntro}"></span>
                    </div>

                </a>
            </div>
        </div>


        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'" class="page-item">
                    <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("button-search");
    btn_search.addEventListener('click', function () {
        document.getElementById('page').value = 0;
        document.getElementById('searchForm').submit();
    });
</script>

</body>
</html>