<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : HOME</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center" style="padding-bottom: 20px;">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/question/hotList}">HOT 게시물</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/question/weeklyHotList}">주간 인기글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-select" th:href="@{/community/home}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/board_list}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/eventInfo}">추천 정보</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="review-main-container mt-5" style="padding-bottom: 5%">
            <div class="review-header-content">
                <div id="review-search-input-group">
                    <form th:action="@{|/question/search|}" method="get" id="searchForm">
                        <div class="input-group mb-3 me-sm-3">
                            <input type="text" th:value="${keyword}" name="keyword" id="search-input"
                                   class="form-control"
                                   placeholder="글 제목, 내용 등을 검색해주세요" aria-label="review search"
                                   aria-describedby="button-addon2">
                            <button class="btn btn-outline-orange" type="button" id="button-search">검색</button>
                        </div>
                    </form>
                </div>
                <a th:href="@{/question/create/}" class="btn btn-primary" style="float:right;">질문 등록하기</a>
            </div>
        </div>
    </div>


    <div class="content-container">
        <h5 class="border-bottom py-2" th:unless="${questionList.size==0}">검색 결과</h5>

        <div th:each="question : ${questionList}">
            <a style="text-decoration:none; color:inherit" th:href="@{/question/detail/} + ${question.id} + @{/}">
                <div class="card my-3">
                    <div class="card-body">
                        <small th:text="${question.board.boardName}"></small>
                        <div style="padding-top: 1%" class="review-content-area mt-0 mb-4">
                            <img class="img-profile-content float-start me-3" src="/static/image/anonymous_profile.png"
                                 alt="익명의 프로필 이미지">
                            <div class="ms-5">
                                <p class="fw-bolder mb-0 content-nickname" th:if="${question.isAnonymous == true}"
                                   th:text="익명"></p>
                                <p class="fw-bolder mb-0 content-nickname" th:unless="${question.isAnonymous == true}"
                                   th:text="${question.author.username}"></p>
                                <time class="fw-normal content-time"
                                      th:text="${question.getDate(question.createDate)}"></time>
                            </div>

                            <div class="card-text">
                                <div class="strong mt-2" th:text="${question.subject}"></div>
                                <div class="mt-1" style="font-size: 14px" th:text="${question.content}"></div>
                            </div>


                            <div class="mb-4">
                                <ul class="content-info">
                                    <li class="recommend" th:text="${#lists.size(question.voter)}"></li>
                                    <li class="comment" th:text="${#lists.size(question.answerList)}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("button-search");
    btn_search.addEventListener('click', function () {
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</body>
</html>