<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
  <h5 class="my-3 border-bottom pb-2" th:text="${question.subject}">리뷰 내용</h5>
  <div class="review-content-area mt-0 mb-4">
    <img class="img-profile-content float-start me-3" src="/static/image/anonymous_profile.png">
    <div class="ms-5">
      <p class="fw-bolder mb-0 content-nickname" th:if="${question.author != null}" th:text="${question.author.username}"></p>
      <time class="fw-normal content-time" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></time>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
      <div class="my-3">
        <div class="float-start">
        <a href="javascript:void(0)" class="recommendPopup btn btn btn-light" type="button"
           th:data-uri="@{|/question/vote/${question.id}|}">
          <span class="recommend-disable ps-4" style="color:#7F7F7F">좋아요</span>
        </a>
        </div>
        <ul class="content-info">
          <li class="recommend" th:text="${#lists.size(question.voter)}"></li>
          <li class="comment" th:text="${#lists.size(question.answerList)}"></li>
         </ul>
<!-- <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"-->
<!--           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"-->
<!--           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"-->
<!--           th:text="삭제"></a>-->
      </div>
    </div>
  </div>


  <div style="clear:both;"></div>
  <h5 class="my-3 border-top border-bottom pt-4 pb-2">댓글</h5>
  <div class="review-content-area mb-5">
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
      <div class="input-group mb-4">
        <input type="text" th:field="*{content}" class="form-control border-end-0" placeholder="댓글을 남겨주세요." aria-label="Recipient's username with two button addons">
        <div class="input-group-text border-start-0" style="background-color: white">
          <input class="form-check-input mt-0" id="check-anonym" type="checkbox" value=false aria-label="Checkbox for following text input">
          <label class="form-check-label" id="check-anonym-text" for="check-anonym">익명</label>0
        </div>
        <button class="btn btn-outline-orange" type="submit">등록</button>
      </div>
    </form>

    <div id="comments-list ">
      <ol class="list-group">
        <li th:each="answer : ${question.answerList}" class="list-group-item  justify-content-between align-items-start comment-item">
            <div class="ms-2 me-auto">
              <div class="mb-2">
                <img class="img-profile-comment" src="/static/image/anonymous_profile.png">
                <span class="fw-bolder content-nickname" th:if="${answer.author !=null}" th:text="${answer.author.username}"></span>
                 </div>
              [[${answer.content}]]
              <div class="mt-2">
                <time class="fw-normal me-3 content-time" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></time>
                <span class="recommend ps-4 content-nickname" th:text="${#lists.size(answer.voter)}"></span>
              </div>
            </div>
             <span class="btn-child-comment">대댓글</span>
        </li>
      </ol>
    </div>
  </div>
</div>


<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      if(confirm("정말로 삭제하시겠습니까?")) {
        location.href = this.dataset.uri;
      };
    });
  });
  const recommend_elements = document.getElementsByClassName("recommendPopup");
  Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      if(confirm("정말로 추천하시겠습니까?")) {
        location.href = this.dataset.uri;
      };
    });
  });
</script>
</html>