<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : HOT 게시물</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>

<div  layout:fragment="content" class="container">

    <div class="col-9">

        <div class="container" style="padding-top: 5%">
            <div class="row">
                <!--768px 이상에서는 열 3개 병합-->
                <!--576px 이하에서는 열 4개 병합-->
                <div class="col-md-3 col-sm-4">
                    <div class="list-group" style="padding-top:31%">
                        <a th:href="@{/user/mypage}" class="list-group-item list-group-item-action">내 정보</a>
                        <a th:href="@{/user/mypage/write}" class="list-group-item list-group-item-action">사용자 작성글 조회</a>
                        <a th:href="@{/answer/mypage/comment}" class="list-group-item list-group-item-action">댓글 모아보기</a>
                        <a th:href="@{/user/whatIsBaf}" class="list-group-item list-group-item-action">Ba-f 소개</a>
                        <a th:href="@{/user/mypage/notice}" class="list-group-item list-group-item-action">공지사항</a>
                    </div>

                </div>
                <div class="col-9 col-sm-6" style="padding-left:10%">
                    <h2 class="col-sm-12">회원 탈퇴</h2>
                    <div class="row mt-3">
                        <form class="needs-validation col-12" action="#" th:action="@{/user/settings/delete}"
                              th:object="${passwordForm}" method="post"
                              novalidate>
                            <div class="form-group mt-3">
                                <label for="newPassword">패스워드 확인</label>
                                <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control"
                                       aria-describedby="newPasswordHelp">
                                <small id="newPasswordHelp" class="form-text text-muted">
                                    기존 패스워드를 입력하세요.
                                </small>
                                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">회원 탈퇴</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>