<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 마이 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>

<div  layout:fragment="content" class="container">


    <div class="col-9">

        <div class="container" style="padding-top: 5%">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="list-group" style="padding-top:31%">
                        <a th:href="@{/user/mypage}" class="list-group-item list-group-item-action">내 정보</a>
                        <a th:href="@{/user/mypage/write}" class="list-group-item list-group-item-action">사용자 작성글 조회</a>
                        <a th:href="@{/answer/mypage/comment}" class="list-group-item list-group-item-action">댓글 모아보기</a>
                        <a th:href="@{/user/whatIsBaf}" class="list-group-item list-group-item-action">Ba-f 소개</a>
                        <a th:href="@{/user/mypage/notice}" class="list-group-item list-group-item-action">공지사항</a>
                    </div>

                </div>
                <div class="col-9 col-sm-8" style="padding-left:10%" >
                    <h2 class="col-sm-12">Ba-f 공지사항</h2>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>