<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="searchPlace" id="source" onclick="location.href='test.html'">출발지</button>
<button class="searchPlace" id="dest" onclick="location.href='test.html'">도착지</button>
<input type="text" class="form-control form-control-lg" placeholder="출발지를 입력하세요." id="sourceAddress">
<input type="text" class="form-control form-control-lg" placeholder="도착지를 입력하세요." id="destAddress">
</body>
</html>
</html>