<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 마이 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>

<div  layout:fragment="content" class="container">
    <div class="col-9">
        <div class="container" style="padding-top: 5%">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="list-group" style="padding-top:31%">
                        <a th:href="@{/user/mypage}" class="list-group-item list-group-item-action">내 정보</a>
                        <a th:href="@{/user/mypage/write}" class="list-group-item list-group-item-action">사용자 작성글 조회</a>
                        <a th:href="@{/answer/mypage/comment}" class="list-group-item list-group-item-action">댓글 모아보기</a>
                        <a th:href="@{/user/whatIsBaf}" class="list-group-item list-group-item-action">Ba-f 소개</a>
                        <a th:href="@{/user/mypage/notice}" class="list-group-item list-group-item-action">공지사항</a>
                    </div>

                </div>
                <div class="col-9 col-sm-9" style="padding-left:10%" >
                    <h4 class="col-sm-12">사용자 작성 댓글 모아보기</h4>
                    <div class="hstack gap-3" style="clear: left">
                        <div class="ms-auto">
                            <a style="text-decoration: none" th:href="@{/answer/mypage/comment}">커뮤니티</a></div>
                        <div class="vr"></div>
                        <div class=""><a style="text-decoration:none; color: black" th:href="@{/review/mypage/comment}">방문 후기</a></div>
                        </a>
                    </div>
                    <div th:each="question : ${answerList}">
                        <a style="text-decoration:none; color:inherit"th:href="@{/question/detail/} + ${question.question.id} + @{/}">
                            <div class="card my-3">
                                <div class="card-body" >
                                    <div class="review-content-area mt-0 mb-4">
                                        <img class="img-profile-content float-start me-3" src="/static/image/anonymous_profile.png" alt="익명의 프로필 이미지">
                                        <div class="ms-5">
                                            <p class="fw-bolder mb-0 content-nickname" th:if="${question.author != null}" th:text="${question.author.username}"></p>
                                            <time class="fw-normal content-time" th:text="${question.getDate(question.createDate)}"></time>
                                        </div>

                                        <div class="card-text" style="white-space: pre-line; padding-bottom: -10%">
                                            <div th:text="${question.content}"></div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div th:if="${!answerList.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!answerList.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${answerList.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, answerList.totalPages-1)}"
                                th:if="${page >= answerList.number-5 and page <= answerList.number+5}"
                                th:classappend="${page == answerList.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!answerList.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${answerList.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>




                </div>
            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>