<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}">
    <title>Ba-f : 회원 가입</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/review}">
            <img src="/static/image/ba-f_logo.png" alt="ba-f 로고 이미지" width="90" height="40">
        </a>

        <div class="d-flex">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">LOGIN</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">LOGOUT</a>
        </div>
    </div>
</nav>

<!-- //수빈 small 추가-->
<div layout:fragment="content" class="container my-3">

    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data">
        <div style="width:40%">
            <div th:replace="form_errors :: formErrorsFragment"></div>

            <div class="mb-3">
                <label for="username" class="form-label">사용자ID</label><small style="color: red"> *</small>
                <input type="text" id="username" th:field="*{username}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label><small style="color: red"> *</small>
                <input type="password" id="password1" th:field="*{password1}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label><small style="color: red"> *</small>
                <input type="password" id="password2" th:field="*{password2}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">이름</label><small style="color: red"> *</small>
                <input type="text" id="name" th:field="*{name}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="inputBirthday" class="col-form-label">생년월일</label><small style="color: red"> *</small>
                <input type="date" th:field="*{birthday}" class="form-control" id="inputBirthday" max="9999-12-31">
            </div>

            <div class="mb-3">
                <label for="inputGender" class="col-form-label">성별</label><small style="color: red"> *</small>
                <div class="gender_code">
                    <select class="form-select" id="inputGender" th:field="*{gender}">
                        <option value="0" selected>성별 선택</option>
                        <option value="1">남자</option>
                        <option value="2">여자</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">이메일</label><small style="color: red"> *</small>
                <input type="email" id="email" th:field="*{email}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="inputType" class="col-form-label">장애 유형</label><small style="color: red"> *</small>
                <select class="form-select" id="inputType" th:field="*{type}">
                    <option selected value="0">유형 선택</option>
                    <option value="1">지체 장애</option>
                    <option value="2">뇌병변</option>
                    <option value="3">시각 장애</option>
                    <option value="4">청각 장애</option>
                    <option value="5">언어 장애</option>
                    <option value="6">정신 지체</option>
                    <option value="7">발달 장애</option>
                    <option value="8">정신 장애</option>
                    <option value="9">신장 장애</option>
                    <option value="10">심장 장애</option>
                    <option value="11">호흡기 장애</option>
                    <option value="12">간장애</option>
                    <option value="13">안면장애</option>
                    <option value="14">장루,요루장애</option>
                    <option value="15">간질장애</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="getWheel" class="col-form-label">휠체어 탑승 여부</label>
                <select class="form-select" id="getWheel" th:field="*{getWheel}">
                    <option selected value="0">탑승 여부 선택</option>
                    <option value="1">탑승</option>
                    <option value="2">미탑승</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="certifyFile" class="col-form-label">장애인등록증 인증</label><small style="color: red"> *</small>
                <span style="font-size: x-small"> (장애인 증명서도 가능합니다)</span>
                <span></span>
                <input type="file" accept="image/*, .pdf" id="certifyFile" class="form-control border" th:field="*{certifyFile}" required>
            </div>

            <button type="submit" class="btn btn-primary">회원가입</button>

        </div>
    </form>
</div>
</body>
</html>