<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba-f Community</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>
<div  layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center" style="padding-bottom: 20px;">
                <li class="nav-item">
                    <a class="nav-link-select" th:href="@{/board/hot_board}">HOT 게시물</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">주간 인기글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/question/list}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/board_list}">즐겨찾는 게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/eventInfo}">추천 정보</a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>