<!DOCTYPE html>
<html lang="en">
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ba-f Community</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
</head>
<body>
<!--수빈이 코드 pull 한 뒤 지우기-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/image/ba-f_logo.png" alt="" width="30" height="24">
        </a>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ba-f 맵</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-select" aria-current="page" href="#">방문 후기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Page</a>
            </li>
        </ul>

        <div class="d-flex">
            <a class="nav-logout" href="#">LOGOUT</a>
        </div>
    </div>
</nav>

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:action="@{/review/create}" th:object="${review}" method="post">
<!--        <div th:replace="form_errors :: formErrorsFragment"></div>-->
        <div class="mb-3">
<!--            <label for="subject" class="form-label">제목</label>-->
            <label class="form-label">제목</label>
            <input type="text" name="subject" class="form-control">
        </div>
        <div class="mb-3">
<!--            <label for="content" class="form-label">내용</label>-->
            <label class="form-label">내용</label>
            <textarea name="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>




</body>
</html>