<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ba-f : 방문 리뷰</title>
</head>

<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/image/ba-f_logo.png" alt="" width="30" height="24">
        </a>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ba-f 맵</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-select" aria-current="page" href="#">방문 후기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Page</a>
            </li>
        </ul>

        <div class="d-flex">
            <a class="nav-logout" href="#">LOGOUT</a>
        </div>
    </div>
</nav>

<div  layout:fragment="content" class="container">
    <nav class="sub-navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link-select" href="#">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">음식점</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">카페</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">기타</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="review-main-container mt-5">
<!--        검색창 및 글쓰기 버튼 생성-->
    <div class="review-header-content">
        <div id="review-search-input-group">
            <form id="review-search-form" name="sReviewForm" action="" method="get" role="search">
                <div class="input-group mb-3 me-sm-3">
                    <input type="text" id="review-search-review-input" class="form-control" placeholder="궁금한 장소 혹은 공연 등을 검색해주세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-orange" type="button" id="review-button-search">검색</button>
                </div>
            </form>
        </div>

<!--            왜인지 옆으로 가지 않고 자꾸 아래 생김-->
        <button id="review-btn-write" type="button" class="btn btn-outline-orange">리뷰 작성</button>
    </div>

<!--    전체 리뷰 목록 최신 8개-->
    <div class="review-content-entire">
        <h4>
            <a class="review-title" href="#">
                전체 리뷰
                <span>더 보기</span>
            </a>
        </h4>

        <div class="container">
            <div class="row">
                <a style="text-decoration:none" href="">
                    <div class="card review-card col" style="width: 18rem;">
                        <img src="/static/image/test_img.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>★</span> 4.5
                        </div>
                    </div>
                </a>

                <div class="card review-card col" style="width: 18rem;">
                    <img src="/static/image/test_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card review-card col" style="width: 18rem;">
                    <img src="/static/image/test_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card review-card col" style="width: 18rem;">
                    <img src="/static/image/test_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>



</body>
</html>