<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div id="map" style="width: 100%; height: 100vh"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6f5ee4dc680406f1dbe36437ebafb94f&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8aa491fb8446dec868e2994549014ef&libraries=services"></script>
<script>
    const url =
        "http://openapi.seoul.go.kr:8088/41706d4e7663627136385153447866/json/tbTraficElvtr/1/1000/"
    // 몇번째 카테고리가 선택되어 있는지 얻어옵니다
    // 이 순서는 스프라이트 이미지에서의 위치를 계산하는데 사용됩니다
    var order = document.getElementById(currCategory).getAttribute('data-order')
    console.log(order);
        console.log("help");
        fetch(url)
            .then((res) => res.json())
            .then((myJson) => {
                const stores = myJson.tbTraficElvtr.row;

                for (var i = 0; i < stores.length; i++) {
                    var point = myJson.tbTraficElvtr.row[i].NODE_WKT;
                    var test = point.split(/[(|)| ]/);//value에서 좌표만 추출
                    // console.log(test);//test[1]는 x test[2] y값
                    console.log(test[1],test[2]);
                    // 마커를 생성하고 지도에 표시합니다
                    addMarker(new kakao.maps.LatLng(test[2], test[1]), order);
                }
            })

    function addMarker(position, order) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(27, 28),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(46, (order*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }
</script>
</body>
</html>
