<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/map/icon/bus-page.css">
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<div layout:fragment="content">
    <div id="map_wrapper" class="map_wrap">
        <div id="map" style="width:100%;height:100vh;position:relative;overflow:hidden;"></div>
        <div class="hAddr" style="float: right;">
            <span class="title">지도중심기준 행정동 주소정보</span>
            <span id="centerAddr"></span>
        </div>

        <div id="menu_wrap" class="bg_white" style="height:90vh;float:left;">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        <input style="font-size: 16px" placeholder="검색어를 넣어주세요." type="text" th:value="${keyword}" name="kw" id="keyword" aria-label="review search" aria-describedby="button-addon2" size="30" tabindex="0">
                        <button type="submit" class="btn-orange" tabindex="0" style="font-size: 16px;background-color:#FA9622;width: 20% ">검색</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8aa491fb8446dec868e2994549014ef&libraries=services"></script>
    <script type="text/javascript" src="/static/script/load_map.js"></script>
    <script type="text/javascript" src="/static/script/taxi_address.js"></script>



</div>

</body>
</html>